.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background-light);
  border-radius: 0 0 50px 50px;

  @media (max-width: 768px) {
    height: 70vh;
  }
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 0;
  border-radius: 0 0 50px 50px;


}

.overlay {
  text-align: center;
  padding: 0 1rem;
  max-width: 850px;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1rem;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #e5e5e5;
}

.ctaRow {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;

  a {
    text-decoration: none;
  }
}

.highlight {
  color: var(--quaternary-color);
  position: relative;
  display: inline-block;
  animation: shine 3s infinite linear;
}

