.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}

.header {
  margin-bottom: 40px;
}

.grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
