.fadeBlock {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 1300px;
}

.fadeBlock.visible {
  opacity: 1;
  transform: translateY(0);
}
